.navbar {
  background-color: rgb(19, 19, 19, 0.5); // blanco semitransparente
  backdrop-filter: blur(10px); // difuminado
  -webkit-backdrop-filter: blur(10px); // soporte Safari
  border: none;
  border-radius: 0;
  z-index: 1000; // que quede encima del contenido
}
